@import url('leelawaldee.ttf');
@import "vars";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    header {
        .headerContainer {
            background: linear-gradient(45deg, $main-blue, $light-blue );
            height: 100vh;
            
            .iconNav {
                width: 80vw;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                @include anchor(2rem, uppercase);
                .treeIcon {
                    span {
                        color: $main-blue;
                        background: $accent-second;
                        padding: 1rem;
                    }
                }//.treeIcon
                nav {
                    a {
                        color: $accent-second;
                        text-decoration: none;
                        font-size: 1.4rem !important;
                        padding: 1.5rem;
                        margin-right: 1rem;
                        transition: .2s ease;
                        &:hover {
                            transition: .2s ease;
                            color: $main-green;
                        }//hover
                    }//a 
                }//nav
            }//.iconNav
        }//headerContainer
        .welcome {
            margin: 0 auto;
            width: 80vw;
            display: flex;
            justify-content: space-between;
            .welcomeImg {
                img {
                    width: 40vw;
                }
            }
            .welcomeText {
                width: 40vw;
                display: flex;
                flex-direction: column;
                align-self: center;
                @include anchor(2rem, capitalize);
                p {

                    font-size: 1rem !important;
                }//p
                a {
                    color: $accent-second;
                    background-color: $main-green;
                    border-radius: 3%;
                    text-decoration: none;
                    text-align: center;
                    align-self: center;
                    margin-top: 2vh;
                    padding: .7rem;
                    width: 20vw;
                    border: 1px solid $main-green;
                    transition: .3s ease;
                    &:hover {
                        
                        background: $main-blue;
                    }
                }
            }
        }
    }//header
    #about {
        width: 80vw;
        margin: 0 auto;
        margin-top: 10vh;
        .aboutContainer {
            display: flex;
            justify-content: space-between;
            .treeImg {
                img {
                    width: 40vw;
                }
            }
            .aboutText {
                display: flex;
                flex-direction: column;
                align-self: center;
                h1 {
                    @include anchor(3rem, capitalize);
                    color: $header !important;
                }
                h2 {
                    @include anchor(2rem, capitalize);
                    color: $main-green !important;
                }
                p {
                    margin-top: 4vh;
                    @include anchor (1rem, capitalize);
                    color: $header;
                }
            }//.aboutText
        }//.aboutContainer
    }//#about
    #donate {
        background: linear-gradient($light-blue, $light-blue);
        margin-top: -4vh;
        h1 {
            text-align: center;
            padding-top: 2rem;
            @include anchor(2rem, capitalize);

        }
        .donateContainer {
            padding: 5rem;
            display: flex;
            justify-content: space-around;
            text-align: center;

            .donateBox {
                background: $accent-second;
                padding: 5rem;
                transition: .6s ease;
                h2 {
                    @include anchor(2.3rem, capitalize);
                    color: $main-green !important;
                    margin-bottom: 1rem;
                }
                p {
                    @include anchor(1.5rem, capitalize);
                    color: $header !important;
                    margin-bottom: 1rem;
                }
                ul {
                    @include anchor(1rem, capitalize);
                    color: $header !important;
                    list-style-type: none;

                    li {
                        text-align: left;
                        &::before {
                            content: "●";
                            color: $main-green; 
                            margin-right: 1rem;
                          }
                    }
                }
                a {
                    margin-top: 1.7rem;
                    @include anchor(1.7rem, uppercase);
                    color: $accent-second;
                    text-decoration: none;
                    background: $main-green;
                    padding: 1rem 5rem 1rem 5rem;
                    border-radius: 3%;
                    display: block;
                    transition: .3s ease;
                    &:hover {
                        background: $light-blue;
                        transition: .3s ease;
                    }
                }//a
                &:hover {
                    transition: .6s ease;
                    box-shadow: 0px 10px 25px rgba(0,0,0, .5);
                }
            }//.donatebox
        }
    }
    .aboutContainerSecond {
        width: 80vw;
        margin: 0 auto;
        padding-top: 6vh;
        .aboutContainerFlex {
            display: flex;
            .bough {
                img {
                    margin-top: -8vh;
                    width: 40vw;
                }
            }
            .aboutText {
                display: flex;
                flex-direction: column;
                align-self: center;
                h1 {
                    @include anchor(2.4rem, capitalize);
                    color: $header;
                    margin-bottom: 1rem;
                }
                h2 {
                    @include anchor(1.7rem, capitalize);
                    color: $main-green;
                    margin-bottom: 1rem;
                }
                p {
                    @include anchor(1rem, capitalize);
                    color: $header;
                    
                }
            }
        }
    }
}//body

//•